.main{
	background-color:#F2E6E4;
	color:black;
}
.subscribe-button{
	background-color:#B54C65;
	color:black;
	height:36px;
	width:108px;
	
}
..subscribe-button:hover{
	background-color:#F5DAE6;
	color:black;
}
.suscribe-button:active{
	background-color:#FAFCFA;
	color:black;
	
}
